@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --dark-grey: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-grey: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}

#app {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

#upper-section {
  height: 67%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(19, 1fr);
}

@keyframes opacity-open {
  from {
    opacity: 0;
  }
 
  to {
    opacity: 1;
  }
}

@keyframes opacity-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.drop-down-menu {
  z-index: 100;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  animation: opacity-anim linear 100ms forwards;
}

.drop-down-menu.close {
  animation: opacity-close linear 200ms forwards;
}

.drop-down .close-icon {
  transform: translateX(7px);
}

@keyframes drop-down-open {
  0% {
    padding: 10px 20px;
  }

  100% {
    padding: 50px 20px;
  }
}

@keyframes drop-down-close {
  0% {
    padding: 50px 20px;
  }

  100% {
    padding: 10px 20px;
    opacity: 0;
  }
}

.drop-down {
  background: #ffffff;
  padding: 50px 20px;

  display: flex;
  justify-content: space-between;
}

.drop-down.animation-open {
  animation: drop-down-open 500ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.drop-down.animation-close {
  animation: drop-down-close 200ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-image-grid {
  height: 100%;
  grid-column: 1 / 12;

  position: relative;
}

.carousel {
  z-index: -10;
  height: 100%;
  width: 100%;
  position: relative;

  transition: 300ms cubic-bezier(0.2, 0.8, 0.4, 1);
}

.carousel.curr1 {
  transform: translateX(-100%);
}

.carousel.curr1.curr2 {
  transform: translateX(-200%);
}

.carousel > ul {
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;

  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide > img[data-desktop-img]  {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide > img[data-mobile-img] {
  display: none;
}

.slide:nth-child(1) { transform: translateX(0%); }
.slide:nth-child(2) { transform: translateX(100%); }
.slide:nth-child(3) { transform: translateX(200%); }

.desktop-navbar {
  position: absolute;
  top: 65px;
  left: 50px;

  display: flex;
  gap: 50px;
}

.mobile-navbar {
  display: none;
  position: absolute;
  top: 50px;
  left: 25px;

  width: 100%;
}

.mobile-navbar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 25px));
}


.menu-btns {
  display: flex;
  gap: 30px;
}

.menu-btns a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

@keyframes menu-btns-animation {
  from {
    width: 0px;
  }

  to {
    width: 20px;
  }
}

.menu-btns a:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  border-radius: 8px;

  width: 20px;
  height: 3px;
  background-color: var(--white);
  animation: menu-btns-animation 0.25s forwards;
}

.menu-btns[data-mobile-nav] a{
  color: #000000;
  font-weight: 600;
}

#lower-section::before,
#lower-section::after,
.main-image-grid {
  background-position: 0% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-context-grid {
  background: var(--white);
  grid-area: 1 / 12 / 2 / 20;

  padding: 130px 100px;
}

.main-context-title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-context-text {
  margin-bottom: 40px;
}

.main-context-text,
#about-text {
  font-size: 17px;
  color: var(--dark-grey);
  line-height: 150%;
}

.shop-now-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: var(--black);
  transition: 0.1s;
}

.shop-now-link img {
  margin-left: 15px;
}

.shop-now-link:hover {
  color: var(--dark-grey);
}



.btn-container {
  align-self: end;
  grid-area: 1 / 12 / 2 / 14;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-container button {
  aspect-ratio: 1 / 1;
  appearance: none;
  background: var(--black);
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

.btn-container button:hover {
  background: var(--very-dark-grey);
}

#lower-section {
  height: 33%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(19, 1fr);
}

#lower-section::before {
  content: "";

  grid-area: 1 / 1 / 2 / 7;
  background-image: url("./images/image-about-dark.jpg");
}

#lower-section::after {
  content: "";

  grid-area: 1 / 14 / 2 / 20;
  background-image: url("./images/image-about-light.jpg");
}

.about-our-furniture {
  grid-area: 1 / 7 / 2 / 14;
  background: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 50px;
}

#about-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 8px;

  margin-bottom: 15px;
}
/* desktop sizes */

@media (max-height:810px) {
  .main-context-grid {
    padding: 110px 80px;
  }

  .about-our-furniture {
    padding: 10px 30px;
  }

  #about-title {
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .main-context-text,
  #about-text {
    font-size: 16px;
    color: var(--dark-grey);
    line-height: 130%;
  }
}

@media (max-height:750px) {
  .main-context-grid {
    padding: 90px 70px;
  }

  .about-our-furniture {
    padding: 10px 20px;
  }
}
/* mobile sizes */


@media (max-width:1440px) {
  .main-context-grid {
    padding: 110px 80px;
  }

  .about-our-furniture {
    padding: 10px 30px;
  }

  #about-title {
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .main-context-text,
  #about-text {
    font-size: 16px;
    color: var(--dark-grey);
    line-height: 130%;
  }
}

@media (max-width:1264px) {
  .main-context-grid {
    padding: 90px 70px;
  }

  #about-title {
    letter-spacing: 8px;
  }

  .main-context-title {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

@media (max-width:1150px) {
  .main-context-grid {
    padding: 70px 50px;
  }

  #about-title {
    letter-spacing: 4px;
  }

  .main-context-text,
  #about-text {
    font-size: 16px;
    color: var(--dark-grey);
    line-height: 110%;
  }
}

@media (max-width:768px) {
  #app {
    width: 100vw;
    height: 100vh;
  
    overflow-x: hidden;
    overflow-y: auto;
  }

  #upper-section {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  #lower-section {
    height: 100vh;
    width: 100%;
  
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #lower-section::before {
    grid-area: 1 / 1 / 2 / -1;
  }

  .about-our-furniture {
    grid-area: 2 / 1 / 3 / -1;
  }

  #lower-section::after {
    grid-area: 3 / 1 / 4 / -1;
  }

  .main-image-grid {
    grid-area: 1 / 1 / 2 / 10;
  }

  .main-context-grid {
    grid-area: 2 / 1 / 3 / 10;
  }

  .btn-container {
    grid-area: 1 / 8 / 2 / 10;
  }
}

@media (max-width:425px) {
  #upper-section {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .main-image-grid {
    grid-area: 1 / 1 / 2 / -1;
  }

  .main-context-grid {
    grid-area: 2 / 1 / 3 / -1;
  }

  .btn-container {
    grid-area: 1 / 5 / 2 / -1;
  }

  .slide > img[data-desktop-img] {
    display: none;
  }

  .slide > img[data-mobile-img] {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
  }
}

@media (max-width:320px) {
  .main-context-title {
    font-size: 36px;
  }

  .shop-now-link {
    letter-spacing: 10px;
  }
}